<nav class="btn btn-link" routerLink="/admindash">Back</nav>
<div class="movies-list">
  <div *ngFor="let x of movies">

    <div class="card" style="width: 20rem;">
      <img src={{x.image}} height="200" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{x.moviename}}</h5>
        <h6>HeroName:{{x.hero}}</h6>
        <h6>Heroine:{{x.heroine}}</h6>
        <!-- <button class="btn btn-success" id="aa" (click)="showreviews(x.moviename)">show Reviews</button>
        <div id="aa" *ngIf="check(x.moviename)">
          The reviews are
          <table *ngFor="let y of reviews">
            <tr>{{y.review}}</tr>
          </table>
        </div> -->

      </div>
      <div class="card-footer">
        <button class="btn btn-danger" id="aa" (click)="delete(x.moviename)">Delete</button>
        <!-- <input class="form-control" type="text" name="reviewmsg" placeholder="write review" [(ngModel)]="remsg"><br> -->
        <!-- <button class="btn btn-primary" (click)="addreview(x.moviename)">addreview</button> -->
      </div>
    </div>


  </div>

</div>

<!-- <div *ngFor="let x of movies">

    <h1 >{{x.moviename}}</h1>
    <img src={{x.image}}>
    <br>
    <h4>HeroName:{{x.hero}}</h4>
    <h4>Heroine:{{x.heroine}}</h4>
    <button class="btn btn-success" id="aa" (click)="showreviews(x.moviename)">show Reviews</button>
       <div id="aa" *ngIf="check(x.moviename)" >
        The reviews are
        <table *ngFor="let y of reviews" >
          <tr >{{y.review}}</tr>
        </table>
      </div><br><br>
      <div>
    <input type="textarea" name="reviewmsg" class="form-control" placeholder="write review" [(ngModel)]="remsg"><br>
      <button class="btn btn-primary" (click)="addreview(x.moviename)">addreview</button>
    </div><br>
    <button class="btn btn-danger" id="aa"(click)="delete(x.moviename)">delete</button>
    </div> -->
    
    
