h3{
    position: relative; right: 280px;
}
input{
    position: relative; right: 280px
}
label{
    position: relative; right: 280px;
}
button{
    position: relative; right: 280px;
}
a{
    position: relative; right: 280px;
}