.admin-dashboard__wrapper {
    width: 100vw;
    height: 92vh;

    
  
    
   
    background-repeat: no-repeat;
}

.user-list {
    width: 100%;
    margin: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.table {
    width: 40%;
    color: #fff;
}

.table thead tr th, .table tbody tr td {
color : #fff;
font-weight: 600;
text-align: center;
}

h3{
    color:coral
}
h4{
    color: coral;
}
h2{
    color: coral;
}
nav{
    background-color: #fff;
}
div{
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
}
b{
    color: white;
}

